@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  display: flex;
  justify-content: space-around;
  background: map-get($light-theme, 'footer-bg');
  color: map-get($light-theme, 'footer-text');
  transition: $default-transition;
  padding: 20px;
  text-align: left;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a {
    color: map-get($light-theme, 'footer-text');
  }

  .social-icons {
    display: flex;
    gap: 8px;
  }

  ul {
    list-style: none;

    li {
      padding: 5px 0;
    }
  }
}

// Mörkt tema
.dark-mode .footer {
  background: map-get($dark-theme, 'footer-bg');
  color: map-get($dark-theme, 'footer-text');
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a {
    color: map-get($dark-theme, 'footer-text');
  }
}

h2 {
  font-size: 1.4rem;
}

h2:not(:first-of-type) {
  margin-top: 15px;
}

h3 {
  margin-top: 10px;
}

address {
  font-style: normal !important;
}

.logo-container img {
  margin-top: 15px;
  border-radius: 50%;
}
