@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

button {
  transition: $button-transition;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &.primary {
    background-color: map-get($colors, 'primary');
    color: white;

    &:hover {
      background-color: darken(map-get($colors, 'primary'), 10%);
    }
  }

  &.secondary {
    background-color: map-get($colors, 'secondary');
    color: white;

    &:hover {
      background-color: darken(map-get($colors, 'secondary'), 10%);
    }
  }
}
