@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header .menu {
  list-style: none;
  display: flex;
  gap: 20px;

  li {
    position: relative;

    a {
      text-decoration: none;
      display: block;
    }
  }
  // Stil för dropdown
  .dropdown {
    position: relative;

    .dropdown-menu {
      display: none;
      position: absolute;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      min-width: 210px; // Justera bredden
      list-style: none;
    }

    &:hover .dropdown-menu {
      display: block;
    }
  }
}

.footer .menu a {
  text-decoration: none;
  display: block;
}


