@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navbar {
  background: map-get($colors, 'dark-bg');
  color: map-get($colors, 'white');
  padding: 15px 20px;

  .container {
    @include flex-center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: map-get($colors, 'white');
    font-size: 1.5rem;

    img {
      height: 40px;
      margin-right: 10px;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      position: relative;

      a {
        text-decoration: none;
        color: map-get($colors, 'white');
        padding: 10px 15px;
        display: block;
      }
    }
  }
}

/* Små enheter (mobil) */
/* @include respond-to(sm) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
} */

/* Tablets (stående) */
/* @include respond-to(md) {
  .company-name {
    display: inline;
  }
} */

/* Större skärmar */
/* @include respond-to(xl) {
  .search-container {
    display: block;
  }
}
 */
