@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.navbar {
  padding: 15px 20px;

  .container {
    @include mixin.flex-center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
  }

  .logo {
    display: flex;
    align-items: left;
    text-decoration: none;
    font-size: 1.5rem;

    img {
      height: 70px;
      width: auto;
      margin-right: 100px;
      border-radius: 50%;
      padding-top: 0;
    }
  }
  .header {
    height: map-get(vars.$sizes, 'header-height');
  }
}
