@use '../abstracts//variables' as *;

@mixin icon-hover($hover-bg: rgb(95, 101, 144), $scale: 1.1) {
  &:hover {
    background-color: $hover-bg !important;
    transform: scale($scale);
  }
}

// Grund mixin ikon
@mixin icon-base($size: $icon-size, $shape: $icon-shape) {
  width: $size;
  height: $size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;

  // Standardform
  @if $shape == 'circle' {
    border-radius: 50%;
  } @else if $shape == 'square' {
    border-radius: 8px !important;
  }
}

// Mixin helvit ikon
@mixin icon-white($bg-color: #333, $size: 40px) {
  @include icon-base($size);
  background-color: $bg-color;

  img {
    filter: brightness(0) invert(1); // Gör ikonen vit
  }
  @include icon-hover();
}

// Mixin svartvit ikon
@mixin icon-bw($bg-color: #fff, $size: 40px) {
  @include icon-base($size);
  background-color: $bg-color !important;

  img {
    filter: grayscale(100%);
  }
  @include icon-hover();
}

// Flexbox centrering
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Media Query Mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}
