// abstracts/variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'Helvetica, Arial, sans-serif';

// Standardvärden för ikoner
$icon-size: 40px;
$icon-bg-color: #333;
$icon-shape: 'circle'; // Standardform för alla ikoner

$icon-bw-bg-color: red;
