@use '../abstracts/variables' as vars;

body {
  background-color: map-get(vars.$light-theme, 'bg');
  transition: vars.$default-transition;
}

.dark-mode {
  background-color: map-get(vars.$dark-theme, 'bg');
  color: map-get(vars.$dark-theme, 'text');
  transition: vars.$default-transition;

  .hero,
  #about-page .hero,
  #sass-page .hero,
  #process-page .hero {
    background-color: map-get(vars.$dark-theme, 'bg');
    color: map-get(vars.$dark-theme, 'text');
  }
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode li,
.dark-mode a {
  color: map-get(vars.$dark-theme, 'text') !important;
}

.dark-mode {
  background-color: map-get(vars.$dark-theme, 'bg');
  color: map-get(vars.$dark-theme, 'text');
  transition: vars.$default-transition;

  .features {
    background-color: map-get(vars.$dark-theme, 'header-bg');
    color: map-get(vars.$dark-theme, 'header-text');
  }
}
