@use '../abstracts/variables' as vars;

// Global typografi
body {
  font-family: vars.$font-stack;
  line-height: 1.6;
  font-size: 16px;
}

// Rubriker med ett särskilt typsnitt
h1,
h2,
h3,
.heading {
  font-family: vars.$font-inter;
}

// Specifika rubrikstilar
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
}

ul {
  list-style-type: disc;
}

body {
  font-family: 'Inter', sans-serif;
}

li,
p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
